<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="Normal/base::Layout(~{::section})"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<section>
    <div id="user-dashboard" class="dashboard">
        <div class="dashboard-banner">
            <img src="https://images.unsplash.com/photo-1589010588553-46e8e7c21788?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="Image Banner">
            <div class="banner-promo">
                <h1><span>50% OFF</span></h1>
                <h1>On All Tiffin Center</h1>
                <p>Order Tiffin from favourite place near you.</p>
            </div>
        </div>
        <h3 class="dashboard-title">Must Try</h3>
        <div class="dashboard-menu">
            <div class="menu-item dropdown">
                <a href="#">Sort By<i class="fa-solid fa-angle-down"></i></a>
                <div class="sub-menu">
                    <div class="sub-menu-item"><a href="#">Price</a></div>
                    <div class="sub-menu-item"><a href="#">Relevance</a></div>
                    <div class="sub-menu-item"><a href="#">Rating</a></div>
                    <div class="sub-menu-item"><a href="#">Popular</a></div>
                    <div class="sub-menu-item"><a href="#">Distance</a></div>
                </div>
            </div>
            <div class="menu-item dropdown">
                <a href="#">Amenities<i class="fa-solid fa-angle-down"></i></a>
                <div class="sub-menu">
                    <div class="sub-menu-item"><a href="#">Pure Vegetarian</a></div>
                    <div class="sub-menu-item"><a href="#">Buffet</a></div>
                    <div class="sub-menu-item"><a href="#">Dine-in</a></div>
                    <div class="sub-menu-item"><a href="#">Take Away Only</a></div>
                    <div class="sub-menu-item"><a href="#">Home Kitchen</a></div>
                </div>
            </div>
            <div class="menu-item dropdown">
                <a href="#">Rating<i class="fa-solid fa-angle-down"></i></a>
                <div class="sub-menu">
                    <div class="sub-menu-item"><a href="#">1+ Star</a></div>
                    <div class="sub-menu-item"><a href="#">2+ Stars</a></div>
                    <div class="sub-menu-item"><a href="#">3+ Stars</a></div>
                    <div class="sub-menu-item"><a href="#">4+ Stars</a></div>
                </div>
            </div>
            <div class="menu-item"><a href="#">Online Ordering</a></div>
            <div class="menu-item"><a href="#">Open Now</a></div>
            <div class="menu-item"><a href="#">Contact</a></div>
            <div class="menu-item"><a href="#">FAQ</a></div>
        </div>
        <div class="dashboard-content">
            <div th:each="m:${messes}" class="dashboard-card">
                <div th:classappend="${m.getFaviorateCustomers().contains(user) ? 'favorited' : ''}"   class="fas fa-heart" th:attr="messId=${m.getMessId()}"  onclick="addToFav(this)" id="heart"></div>
                <div th:id="'carouselExampleSlidesOnly'+${m.getMessId()}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="image, iterStat : ${m.getMessImage()}" th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                            <img th:src="@{'/img/Mess/' + ${image.getMessImage()}}" src="/img/default.jpg" class="card-image"/>
                        </div>
                        <div th:if="${m.getMessImage().isEmpty()}">
                            <div class="carousel-item active">
                                <img src="/img/default.jpg" class="card-image"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-details" th:attr="onclick='openMessdetails(' + ${m.getMessId()} + ')'">
                    <h3 th:text="${m.getMessName()}">Amazing Pizza</h3>
                    <div class="card-details-rating">
                        <span>4.5</span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star-half-alt"></span>
                    </div>
                    <p><i class="fa-solid fa-location-dot"></i>&nbsp;Address :<span
                            th:text="${m.getMessAddress()}"></span></p>
                    <p><i class="fa-regular fa-user"></i>&nbsp;Owner Name :<span
                            th:text="${m.getMessOwnerName()}"></span></p>
                    <p><i class="fa-solid fa-info"></i>&nbsp;Mess Details :<span
                            th:text="${m.getMessDescription()}"></span></p>
                </div>
                <div class="buttons">
                    <button th:classappend="${user.isSubscribedToMess(m)?'hide':'show'}" th:attr="messId=${m.getMessId()}" onclick="openSubscriptionBox()" class="card-button">
                        Request Tiffing
                    </button>
                    <button th:classappend="${user.isSubscribedToMess(m)?'show':'hide'}" th:attr="messId=${m.getMessId()}" onclick="requestCancellation(this)" class="card-button cancel">
                        Cancel Tiffing
                    </button>
                    <button class="contact-button">
                        <a th:href="'https://wa.me/91'+${m.getMessContact()}" target="_blank">
                            <label class="fa-brands fa-whatsapp"></label>
                            <span th:text="${m.getMessContact()}"></span>
                        </a>
                    </button>
                </div>
            </div>
        </div>

    </div>
</section>
<script th:src="@{/JS/UserScript.js}"></script>
<script th:src="@{/JS/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>